.container {
  display: flex;
  height: calc(100vh - 170px);
  width: 60%;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  .classesList {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    a {
      border: 2px solid #4137ee;
      border-radius: 20px;
      min-height: 50px;
      display: flex;
      align-items: center;
      min-width: 300px;
      justify-content: center;
      font-size: 18px;
      font-weight: bold;
      cursor: pointer;
      text-decoration: none;
      color: #4137ee;
      gap: 100px;
      button {
        cursor: pointer;
        border: none;
        background-color: #4137ee;
        font-weight: 700;
        font-size: 16px;
        width: fit-content;
        border-radius: 20px;
        color: #ffffff;
        height: 30px;
        text-transform: none;
        min-width: 10px;
        padding: 5px 10px;
        box-shadow: none;
      }
    }
  }
}

.modalContainer {
  margin: 0 auto;
  max-width: 280px;
  background-color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding: 32px;
  textarea,
  input {
    padding: 10px;
    font-size: 16px;
    font-weight: 500;
    background-color: transparent;
    resize: none;
    border: 2px solid #4137ee;
    border-radius: 20px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
      "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
      "Helvetica Neue", sans-serif;
  }
  textarea {
    min-height: 200px;
    min-width: 200px;
  }
  input {
    min-height: 30px;
    min-width: 200px;
  }
  h2 {
    font-size: 24px;
    font-weight: 700;
    margin: 0;
  }
  textarea:focus,
  input:focus {
    outline: none !important;
  }
  div {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  button {
    background-color: #4137ee;
    font-weight: 700;
    font-size: 16px;
    width: fit-content;
    border-radius: 30px;
    color: #ffffff;
    height: 40px;
    text-transform: none;
    min-width: 200px;
    box-shadow: none;
  }

  button:hover {
    background-color: #4137ee;
    color: #ffffff;
    box-shadow: none;
  }

  button:disabled {
    background-color: #e3e3ff;
    color: #4137ee;
  }
}

.editClassContainer {
  display: flex;
  padding: 16px;
  height: calc(100vh - 170px);
  width: 80%;
  margin: 0 auto;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  textarea {
    width: 500px;
  }
  .classTitleWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    .classTitleEditWrapper {
      display: flex;
      align-items: center;
      gap: 16px;
      button {
        width: auto;
        min-width: auto;
        height: 40px;
      }
    }
  }
  .studentsListTitle {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    align-items: center;
    h2 {
      margin: 0;
    }
  }
  .studentsListWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    table {
      border-collapse: collapse;
    }
    button {
      width: auto;
      min-width: auto;
      height: 40px;
    }
    thead,
    th,
    tr,
    td {
      border: 3px solid #4137ee;
      height: 62px;
    }
    tr,
    td {
      font-size: 24px;
      font-weight: 500;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    }
    input {
      padding: 10px;
      font-size: 24px;
      font-weight: 500;
      background-color: transparent;
      border: 2px solid #4137ee;
      border-radius: 20px;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    }
    .buttonsWrapper {
      min-width: 160px;
      display: flex;
      justify-content: center;
      max-width: 160px;
      align-items: center;
      border: none;
      gap: 10px;
    }
    .studentNameWrapper {
      width: 100%;
      padding: 0 16px;
    }
    .resultWrapper {
      min-width: 100px;
      padding: 0 16px;
      text-align: center;
    }
    .grayCell {
      background-color: darkgray;
    }
    .studentIndexWrapper {
      max-width: 40px;
      min-width: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: none;
    }
  }
}

@media only screen and (max-width: 768px) {
  .container {
    height: calc(100vh - 85px);
  }
  .editClassContainer {
    height: calc(100% - 85px);
    width: 90%;
    textarea {
      width: 320px;
    }
  }
  .studentsListWrapper {
    button {
      width: 25px !important;
      height: 25px !important;
      svg {
        width: 20px !important;
        height: 20px !important;
      }
    }
    .buttonsWrapper {
      min-width: 80px !important;
      max-width: 80px !important;
    }
  }
}
