.App {
  display: block;
  min-width: 100%;
  min-height: var(--100vh, 100vh);

  button {
    background-color: #4137ee;
    font-weight: 700;
    font-size: 16px;
    width: fit-content;
    border-radius: 30px;
    color: #ffffff;
    height: 40px;
    text-transform: none;
    min-width: 200px;
    box-shadow: none;
  }

  button:hover {
    background-color: #4137ee;
    color: #ffffff;
    box-shadow: none;
  }

  button:disabled {
    background-color: #e3e3ff;
    color: #4137ee;
  }
}
