.App {
  display: block;
  min-width: 100%;
  min-height: var(--100vh, 100vh);

  button {
    background-color: #0ba600;
    width: fit-content;
    border-radius: 8px;
    color: rgb(229, 229, 229);
  }

  button:hover {
    background-color: #0ba600;
    color: rgb(229, 229, 229);
  }

  button:disabled {
    background-color: rgba(0, 0, 0, 0.12);
  }
}
